---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Grow to entire browser width
$x-large: auto;

// Larger code examples
$type-size-6: 0.9em;

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Avoid redundant page title
h1#page-title { display: none; }

// Avoid space for left sidebar
.page { width: 100% !important; }

// Style Python/CoffeeScript headers
th { color: purple; text-align: center; }

// Remove lines between rows
thead, td { border-bottom: 0px; vertical-align: top; }
div.highlighter-rouge { margin-bottom: 0.15em; }
